.card-me {
  &,
  &:link,
  &:visited {
    height: 25rem;
    width: 25rem;
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 3px;
    border: solid #b2bec3 1px;
    box-shadow: 0 4px 10px 0 rgba(35, 46, 105, 0.1);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $color-grey-dark;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

    animation-name: moveInRigth;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__container {
    height: fit-content;
    width: 100%;
    display: flex;
    margin: 4rem 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    display: inline-block;
    fill: $color-secondary-dark;
  }

  &__heading {
    margin-top: 2rem;
    text-align: center;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $box-shadow-medium;
    border-color: $color-secondary-light;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  background-color: #fff;
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #74b9ff, #0984e3);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(../../img/home/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #74b9ff, #0984e3),
    url(../../img/home/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../../img/home/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none !important;
  width: 80% !important;
  margin: 0 auto !important;
}
.card__details ul li {
  text-align: center !important;
  font-size: 1.5rem !important;
  padding: 1rem !important;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee !important;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
.card__price-label {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    padding: 7rem 4rem 4rem 4rem;
    width: 100%;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-only {
    font-size: 1.4rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
}
