footer.footer
  // ----FOOTER----
  .footer__row
    div
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='https://www.cergypontoisenatation.fr/') Club CP
          li.footer__item
            a.footer__link(href='#') Contactez nous
          li.footer__item
            a.footer__link(href='/CPN/pages/request.php') Demandes
          li.footer__item
            a.footer__link(href='/CPN/pages/request_club.php') Nous rejoindre
    div
      p.footer__copyright
        | Cr&eacute;&eacute; par 
        a.footer__link(href='https://capeisti.fr/') CAP&apos;EISTI
        |  pour le club de natation de Cergy-Pontoise. Copyright &copy; 
        a.footer__link(href='https://www.linkedin.com/in/bilel-banelhaq-106252178/') Bilel Banelhaq
        |  &amp; 
        a.footer__link(href='https://www.linkedin.com/in/alicia-bonanséa-22071b197/') Alicia Bonansea
        |  &amp; 
        a.footer__link(href='https://www.linkedin.com/in/camille-babikian/') Camille Babikian
        |  &amp; 
        a.footer__link(href='https://www.linkedin.com/mynetwork/invite-sent/lisa-mounier21/?isSendInvite=true') Lisa Mounier
        |  &amp; 
        a.footer__link(href='https://www.linkedin.com/in/mélodie-mirval/') M&eacute;lodie Mirval
        | .
