extends base

block content
    .navigation
        input#navi-toggle.navigation__checkbox(type='checkbox')
        label.navigation__button(for='navi-toggle')
            span.navigation__icon &nbsp;
        .navigation__bg &nbsp;
        nav.navigation__nav
            ul.navigation__list
                if locals.user
                    li.navigation__item
                        a.navigation__link(href='/me') Profil - #{locals.user.firstName}
                    li.navigation__item
                        a.navigation__link(href='/historical') Historique
                    li.navigation__item
                        a.navigation__link(href='/statistics') Statistiques
                    - if(user.role === 'teacher' || user.role === 'teacher-admin')
                        li.navigation__item
                            a.navigation__link(href='#') Liste élèves
                        li.navigation__item
                            a.navigation__link(href='#') Groupes
                    - if(user.role === 'admin' || user.role === 'teacher-admin')
                        li.navigation__item 
                            a.navigation__link(href='/manageUsers') Gestion utilisateurs
                    li.navigation__item 
                            a.navigation__link.nav__el--logout(href='/') Déconnexion
                else
                    li.navigation__item
                        a.navigation__link(href='/login') Connexion
                    li.navigation__item
                        a.navigation__link(href='/signup') Inscription
                    li.navigation__item
                        a.navigation__link(href='#section-tours') Nous rejoindre
                    li.navigation__item
                        a.navigation__link(href='#section-tours') Nos formules
        
        header.header
            .header__logo-box
                img.header__logo(src='img/home/logo-white.png' alt='Logo')
            .header__text-box
                h1.heading-primary
                    span.heading-primary--main Pro Perf  
                    span.heading-primary--sub l&apos;excellence &agrave; port&eacute; de main
                a.btn.btn--white.btn--animated(href='#section-tours') Nous rejoindre
        
        main
            section.section-about
                .u-center-text.u-margin-bottom-big
                    h2.heading-secondary
                        | Lorem ipsum dolor sit, amet consectetur
                .row
                    .col-1-of-2
                        h3.heading-tertiary.u-margin-bottom-small
                            | you&apos;re going to fall in love with nature
                        p.paragraph
                            | Lorem ipsum dolor sit amet consectetu spernatur libero repellat
                            | quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                        h3.heading-tertiary.u-margin-bottom-small
                            | Live adventures like you never have before
                        p.paragraph
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Asperiores nulla deserunt voluptatum nam.
                        a.btn-secondary(href='#') Learn more &rarr;
                    .col-1-of-2
                        .composition
                            img.composition__photo.composition__photo--p1(src='img/home/nat-1-large.png' alt='Photo 1')
                            img.composition__photo.composition__photo--p2(src='img/home/nat-2-large.png' alt='Photo 2')
                            img.composition__photo.composition__photo--p3(src='img/home/nat-3-large.png' alt='Photo 3')
            
            section.section-features
                .row
                    .col-1-of-3
                        .feature-box
                            i.feature-box__icon.icon-basic-world
                            h3.heading-tertiary.u-margin-bottom-small
                                | Suivie des performances
                            p.feature-box__text
                                | Toute vos performances sont automatiquement import&eacute; et
                                | accessible sur la plateforme
                    .col-1-of-3
                        .feature-box
                            i.feature-box__icon.icon-basic-compass
                            h3.heading-tertiary.u-margin-bottom-small
                                | Statistiques
                            p.feature-box__text
                                | Visualiser votre proucentage de progression et comparer le aux
                                | pourcentages moyen fran&ccedil;ais
                    .col-1-of-3
                        .feature-box
                            i.feature-box__icon.icon-basic-map
                            h3.heading-tertiary.u-margin-bottom-small
                                | Gestion des entrainments
                            p.feature-box__text
                                | Cr&eacute;ez facilement vos entrainements, partager les &agrave; vos &eacute;l&egrave;ves et enregistrez les dans votre compte
            
            section#section-tours.section-tours
                .u-center-text.u-margin-bottom-big
                    h2.heading-secondary Nos formules
                .row
                    .col-1-of-3
                        .card
                            .card__side.card__side--front.card__side--front-1
                                .card__picture.card__picture--1 &nbsp;
                                h4.card__heading
                                    span.card__heading-span.card__heading-span--1 Suivie personnel
                                .card__details
                                    ul
                                        li Gaphiques d&apos;&eacute;volution
                                        li Comparaison au sein du club
                                        li Centraliser toute vos performances
                                        li Importation des performances automatique
                            .card__side.card__side--back.card__side--back-1
                                .card__cta
                                    .card__price-box
                                        p.card__price-only Pour
                                        p.card__price-value 2&euro;*
                                    a.btn.btn--white(href='#popup') Choisir !
                                p.card__price-label * Prix par licenci&eacute; par an
                    .col-1-of-3
                        .card
                            .card__side.card__side--front.card__side--front-2
                                .card__picture.card__picture--2 &nbsp;
                                h4.card__heading
                                    span.card__heading-span.card__heading-span--2 Statistiques globale
                                .card__details
                                    ul
                                        li Comparaison &agrave; l&apos;&eacute;chelle nationale
                                        li Calcul des marges d&apos;am&eacute;lioation
                                        li Note les nageurs
                                        li Note les coachs
                            .card__side.card__side--back.card__side--back-2
                                .card__cta
                                    .card__price-box
                                        p.card__price-only Pour
                                        p.card__price-value 2&euro;*
                                    a.btn.btn--white(href='#popup') Choisir !
                                p.card__price-label * Prix par licenci&eacute; par an
                    .col-1-of-3
                        .card
                            .card__side.card__side--front.card__side--front-3
                                .card__picture.card__picture--3 &nbsp;
                                h4.card__heading
                                    span.card__heading-span.card__heading-span--3 Pack suivie + Statistiques
                                .card__details
                                    ul
                                        li Fonctionalit&eacute;s plan suivie
                                        li Fonctionalit&eacute;s plan statistiques
                            .card__side.card__side--back.card__side--back-3
                                .card__cta
                                    .card__price-box
                                        p.card__price-only Pour
                                        p.card__price-value 3&euro;*
                                    a.btn.btn--white(href='#popup') Choisir !
                                p.card__price-label * Prix par licenci&eacute; par an
            
            section.section-stories
                .bg-video
                    video.bg-video__content(autoplay='' muted='' loop='')
                        source(src='img/home/video.mp4' type='video/mp4')
                        source(src='img/home/video.webm' type='video/webm')
                        | Your browser is not supported!
                .u-center-text.u-margin-bottom-big
                    h2.heading-secondary Ce que les clubs pensent de nous
                .row
                    .story
                        figure.story__shape
                            img.story__img(src='img/home/nat-8.jpg' alt='Person on a tour')
                            figcaption.story__caption Cergy Pontoise
                        .story__text
                            h3.heading-tertiary.u-margin-bottom-small
                                | Cergy-Pontoise Natation
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Tempore cupiditate veniam cumque, explicabo reiciendis aut,
                                | repellat accusamus possimus tempora quos sed adipisci fuga nam
                                | facilis, aliquam ipsa alias, adipisicing elit. Tempore
                                | cupiditate veniam cumque, explicabo reiciendis aut, rep
                                | possiadipisci am.
                .row
                    .story
                        figure.story__shape
                            img.story__img(src='img/home/nat-9.jpg' alt='Person on a tour')
                            figcaption.story__caption Villejuif
                        .story__text
                            h3.heading-tertiary.u-margin-bottom-small
                                | Villejuif natation
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Tempore cupiditate veniam cumque, explicabo reiciendis aut,
                                | repellat accusamus possimus tempora quos sed adipisci fuga nam
                                | facilis, aliquam ipsa alias, adipisicing elit. Tempore
                                | cupiditate veniam cumque, explicabo reiciendis aut, rep
                                | possiadipisci am.
            
            section.section-book
                .row
                    .book
                        .book__form
                            form.form(action='#')
                                .u-margin-bottom-medium
                                    h2.heading-secondary Nous contacter
                                .form__group
                                    input#name.form__input(type='text' placeholder='Nom du club' required='')
                                    label.form__label(for='name') Nom du club
                                .form__group
                                    input#email.form__input(type='email' placeholder='Adresse email' required='')
                                    label.form__label(for='email') Adresse email
                                .form__group
                                    input#text.form__input(type='textarea' placeholder='Votre message' required='')
                                    label.form__label(for='email') Votre message
                                .form__group
                                    button.btn.btn--blue  Envoyer &rarr;