extends base

block content
    main
        section.home
            img(src="/img/home/bg.jpg", alt="swimmingpool").home__img
            .home__card
                h1.u-center-text.home__card--title Cergy Pontoise Natation
                p.u-center-text.home__card--description Site Officiel intégrant les statistiques de chaque nageur
                a(href="statistics").btn-me.btn-me--blue.btn-me--blue-small Statistiques
 
        section#offer.offer
            .container
                .row
                    .col-md-12
                        .main_offer_area
                            .head_title.center.m-y-3.wow.fadeInUp
                                h2 Ce que nous offrons
                            .main_offer_content.m-b-3.wow.fadeInUp
                                .row
                                    .col-md-6
                                        .single_offer.m-t-3
                                            .row
                                                .col-sm-3
                                                    .single_offer_icon
                                                        i.fa.fa-cloud
                                                .col-sm-9
                                                    .single_offer_text
                                                        h3  Une base de donn&eacute;es compl&egrave;te
                                                        p
                                                            | Chaque course de chaque joueur, vous pouvez vous inscrire et importer vos propres donn&eacute;es &eacute;galement.
                                    .col-md-6
                                        .single_offer.m-t-3
                                            .row
                                                .col-sm-3
                                                    .single_offer_icon
                                                        i.fa.fa-line-chart
                                                .col-sm-9
                                                    .single_offer_text
                                                        h3  Analyses et Conseils
                                                        p
                                                            | Une analyse personnelle et des conseils afin que chaque joueur puissent savoir comment am&eacute;liorer ses performances
    //-     hr
    //- // End of Offer Section
    //- // /Start your project here
    //- // SCRIPTS
    //- // JQuery
    //- script(type='text/javascript', src='/accueil/js/jquery-2.2.3.min.js')
    //- // Bootstrap tooltips
    //- script(type='text/javascript', src='/accueil/js/tether.min.js')
    //- // Bootstrap core JavaScript
    //- script(type='text/javascript', src='/accueil/js/bootstrap.min.js')
    //- // MDB core JavaScript
    //- script(type='text/javascript', src='/accueil/js/mdb.min.js')
    //- // Wow js
    //- script(type='text/javascript', src='/accueil/js/wow.min.js')
    //- // Mixitup js
    //- script(type='text/javascript', src='/accueil/js/jquery.mixitup.min.js')
    //- // Magnific-popup js
    //- script(type='text/javascript', src='/accueil/js/jquery.magnific-popup.js')
    //- // accordion js
    //- script(type='text/javascript', src='/accueil/js/accordion.js')
    //- // MDB core JavaScript
    //- script(type='text/javascript', src='/accueil/js/materialize.js')
    //- script.
    //-     $(".button-collapse").sideNav();
    //- // wow js active
    //- script(type='text/javascript').
    //-     new WOW().init();
    //- script(type='text/javascript', src='/accueil/js/plugins.js')
    //- script(type='text/javascript', src='/accueil/js/main.js')
